@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:wght@300;400;700&display=swap');

body{
    font-family:'Roboto';
    margin:0;
    padding:0;

}
/*header section */
.line{
    border-top: 2px solid #000;
    width:300px;
    position:absolute;
    right:450px;
    
}
div.menu{
    display:none;
}
img.logo{
    width:100px;
    margin-left:50px;
    
}
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:50px;
    position:relative;
}
nav{
    
    position:absolute;
    right:100px;
    
}
.nav-item{
    margin-left:30px;
    font-size: 15px;
    color: #919191;
    cursor:pointer;
}
.nav-item:first-of-type{
    color:#000;
}

@media (max-width:1052px){
    .line{
        display:none;
    }
    header{
        margin-top:20px;
    }
}
@media (max-width:680px){
    nav{
        display:none;
    }
   
    
    div.menu{
        display:block;
        font-size:30px;
        margin-right:50px;
        cursor:pointer;
        
    }
}
@media (max-width:490px){

    img.logo{
        width:80px;
        margin-left:30px;
    }
}

/* intro section */


img.intro-image{
    width:500px;
    min-height:100vh;
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
}
.total-section{
   
    margin-left:600px;
    margin-right:50px;
    
}


.top-section{
    display:flex;
    align-items:center;
    position:relative;

 
    
}
.header-text1{
    font-size:100px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-family: 'Merriweather';
    font-weight:bolder;
    text-shadow: 1px 1px 2px transparent;
    margin-top:20px;
   
}
.header-text2{
    font-size:80px;
    -webkit-text-fill-color:#000;
    -webkit-text-stroke-width: 1px;
    font-family: 'Merriweather';
    font-weight:bolder;
    text-shadow: 1px 1px 2px transparent;
   position:absolute;
    left:90px;
    top:60px;
    
}
.description{
    
    color:#919191;
    font-size:25px;
    position:absolute;
    left:400px;
    top:130px;
    font-weight:lighter;


}
.package-btn{
    width:240px;
    height:50px;
    background: #000;
    color:#f5f5f5;
    font-size:large;
    border:none;
    font-weight:bold;
    position:absolute;
    left:400px;
    top:250px;
    cursor:pointer;

    
}
.social-image{
 display:flex;
 flex-direction: column;
 align-items: center;
    position:absolute;
    left:600px;
    top:40px;
}
.social-image>img{
    margin-top:20px;
    cursor:pointer;
}
.bottom-section{
    display:flex;
    margin-top:92px;
    position:relative;
}
ul.lists>li{

    font-size:20px;
    color:#919191;
    margin-top:20px;
    cursor:pointer;
}
ul.lists>li:first-of-type{
    color: #000;
}
.list{
    position:absolute;
    left:0px;
}
.vertical-line{
    border-left: 2px solid #919191;
    height:290px;
    position:absolute;
    top:37px;
    left:25px;

}
.content i{
    font-size: 50px;
}
.content {
    position:absolute;
    left:300px;
}
img.content-image{
    width:310px;
}
.arrow-section{
    position:absolute;
    left:580px;
    top:110px;
}
.down-arrow{
    width:150px;
}
/* media queries for intro section */
@media (max-width:1325px){


img.intro-image{
    width:400px;
}
.total-section{
    margin-left:450px;
}

}
@media (max-width:1185px){

img.intro-image{
     width:300px;
     min-height:50vh;
    }
    .total-section{
        margin-left:350px;
    }
    

}
@media (max-width:1075px){
    .bottom-section{
        position:absolute;
        left:50px;
        margin-top:180px;
    }

    .vertical-line{
        top:37px;
        height:325px;

    }
    .arrow-section{
        
        top:130px;
    }

    .package-btn{
        
        left:50px;
        
    }
    .description{
        
        top:80px;
    
    }
    .social-image{
        display:flex;
        flex-direction: row;
        left:400px;
        top:230px;
    }
    .social-image>img{
        margin-left:10px;
    }
}
@media (max-width:950px){

    img.intro-image{
        width:200px;
        min-height: 40vh;

    }
    .total-section{
        margin-left:250px;
    }
    .package-btn{
        
        left:-180px;
        top:250px;
        
    }
    .social-image{
        
        left:100px;
       top:240px;
    }

}
@media (max-width:800px){

   .header-text1{
       font-size:80px;
   }
   .header-text2{
       font-size:70px;
   }
   .description{
       left:350px;
     top:100px;
   }
}
@media (max-width:760px){
    .total-section{
        margin-left:230px;
    }

    .header-text1{
        font-size:70px;
    }
    .header-text2{
        font-size:60px;
    }
    .description{
        left:300px;
    }

}
@media (max-width:780px){
    ul.lists>li{

        font-size:15px;
    }

    .content i{
        font-size: 30px;
    }

    .content p{
        font-size:12px;
    }
    .content {
        position:absolute;
        left:200px;
    }
    img.content-image{
        width:250px;
    }
    .arrow-section{
        position:absolute;
        left:450px;
        top:110px;
    }
    .down-arrow{
        width:100px;
    }
    .vertical-line{
        top:33px;
        left:29px;
    }

}
@media (max-width:690px){
   

.bottom-section{
    margin-top:200px;
}
.package-btn{
        
    left:-180px;
    top:300px;
    
}
.social-image{
        
    left:100px;
   top:290px;
}
.description{
    left:100px;
    top:180px;
}
}

@media (max-width:640px){
    .content{
        left:160px;
        top:50px;
    }

    .arrow-section{
        position:absolute;
        left:400px;
        top:140px;
    }
}
@media (max-width:560px){

    .bottom-section{
        left:20px;
    }
}
@media (max-width:550px){

    .header-text1{
        font-size:60px;
    }
    .header-text2{
        font-size:50px;
    }
    .description{
        font-size:18px;
        left:50px;
    }
    .package-btn{
        
        font-size:small;
        width:150px;
        height:30px;
        top:270px;
        
    }
    .social-image{
        top:250px;
        left:50px;
    }
   
}

@media (max-width:515px){

    .header-text1{
        font-size:50px;
    }
    .header-text2{
        font-size:40px;
    }
    .description{
        font-size:16px;
       top:150px;
    }
}
@media (max-width:510px){
    ul.lists>li{

        font-size:12px;
    }

    .content i{
        font-size: 20px;
    }

    .content p{
        font-size:10px;
    }
    img.content-image{
        width:200px;
    }
    
    .down-arrow{
        width:80px;
    }
    
    .arrow-section{
        left:350px;
    }

    .vertical-line{
        top:27px;
        left:30px;
    }

}
@media (max-width:490px){

    img.intro-image{
        width:150px;
        min-height:30vh;
    }
    
    .total-section{
        margin-left:170px;
    }
    .social-image{
        top:220px;
        
        
    }
    .package-btn{
        
        top:200px;
        margin-left:20px;
        
    }
   
}